.selectedEN {
  background-color: var(--imp-text-color);
  color: #faf9fa;
  border: 1px solid var(--imp-text-color);
  border-radius: 5px 0 0 5px;
}

.selectedEN:focus {
  outline: none;
}

.unselectedES {
  background-color: #494191;
  color: #faf9fa;
  border: 1px solid #8c4ab4;
  border-radius: 0 5px 5px 0;
  transition-duration: 500ms;
}


.selectedES {
  background-color: var(--imp-text-color);
  color: #faf9fa;
  border: 1px solid var(--imp-text-color);
  border-radius: 0 5px 5px 0;
}

.selectedES:focus {
  outline: none;
}

.unselectedEN {
  background-color: #494191;
  color: #faf9fa;
  border: 1px solid #8c4ab4;
  border-radius: 5px 0 0 5px;
  transition-duration: 500ms;
}

.unselectedES:hover {
  transition-duration: 500ms;
  animation: neon .08s ease-in-out infinite alternate;
}

.unselectedEN:hover {
  transition-duration: 500ms;
  animation: neon .01s ease-in-out infinite alternate;
}

.buttons {
  margin-left: 2%;
  margin-top: 2.5%;
  display: flex;
  height: 15%;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}